@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
	height: 6px;
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #7d919b;
	border-radius: 999px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
